{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>

Per vleresimin e veprimtarise kerkimore-shkencore te njesive baze te institucioneve te arsimit te larte
krijohet platforma e Sistemit Shqiptar te Informacionit te Kerkimit Shkencor-ACRIS, e cila sherben si baze
kombetare te dhenash per kerkimin shkencor, sipas percaktimeve te nenit 13, te ligjit nr. 87/2015, “Per arsimin
e larte dhe kerkimin shkencor ne institucionet e arsimit te larte ne Republiken e Shqiperise”, te realizuara mbi
bazen e vleresimit te veprimtarise kerkimore-shkencore te njesive baze te institucioneve te arsimit te larte.
<br />
Ne baze te te dhenave te hedhura ne sistemin ACRIS nga njesite baze te institucioneve te arsimit te larte,
vleresimi gjenerohet me pike, automatikisht nepermjet algoritmit kompjuterik te sistemit te pikezimit, per çdo
kriter e indikator te percaktuar ne kete vendim.
<br />
Ne baze te ketij sistemi vleresimi, njesite baze te institucioneve te arsimit te larte renditen brenda se
njejtes fushe kerkimi dhe ne baze te IAL-ve, si dhe hartohet raporti perfundimtar qe i percillet Agjencise
Kombetare te Financimit te Arsimit te Larte.

</p>

{% endblock %}
